/* Дополнительные стили для центрирования изображения */
.image-container {
    display: flex;
    justify-content: center;
    /* Горизонтальное центрирование */
    align-items: center;
    /* Вертикальное центрирование */
    margin: 20px 0;
    /* Отступы сверху и снизу */
}

.image-container img {
    max-width: 100%;
    /* Чтобы изображение не выходило за пределы контейнера */
    height: 499px;
    /* Сохраняем пропорции */
}