
.image-container {
    max-width: 300px; /* Ограничение ширины контейнера с изображением */
    margin: 0 auto; /* Центрирование контейнера */
}
.image-container img {
    border-radius: 10px; /* Закруглённые углы для изображения */
}


.modal-lg-custom {
    max-width: 800px; /* Ширина модального окна */
}
.modal-body-custom {
    max-height: 400px; /* Максимальная высота контента */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
}